.header-flex{
    justify-content: space-between !important;
    width: 100%;
    align-items: center;
    padding-top: 0;
    a{
        margin-left: 20px;
        i{
            font-size: 20px;
        }
    }
    h1{
        font-weight: 200;
        font-size: 30px;
    }
}


@keyframes apparition{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

main{
    width: 100%;
    min-height: calc(100vh - 230px);
    background-color: rgb(247, 247, 247);
    .cover{
        width: 100%;
        display: block;
        object-fit: cover;
        height: 260px;
    }
    .menu{
        background-color: rgb(247, 247, 247);
        transform: translateY(-40px);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        .titre{
            justify-content: space-between;
            max-width: 1090px;
            padding: 30px 20px;
            margin: auto;
            h2{
                font-weight: 200;
                font-size: 1.7em;
                font-family: 'Shrikhand', cursive;
                span{
                    font-family: 'Shrikhand', cursive;
                }
            }
            .favoris{
                font-size: 25px;
                top: 5px;
            }
        }
        button{
            margin-bottom: 0;
        }
    }
}