.favoris{
    font-size: 30px;
    position: relative;
    top: 10px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    i{
        position: absolute;
        top: 0;
        left: 0;
        width:30px;
        height:30px;
    }
    .fa-regular.fa-heart{
        z-index: 5;
        color:black;
        transition: opacity 1s ease-in-out;
    }
    .fa-square-full{
        z-index: 3;
        color:gray;
    }
    
    .fa-solid.fa-heart {
        color: transparent;
        z-index: 1;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient($secondaire, $main-color);
        z-index: 1;
    }
    
    .rideau {
        color: white;
        height: 15px;
        transition: top 1s;
        transition-timing-function: ease-out;
    }
    
    &:hover .rideau{
        top: -100%;
    }
    
    
    &:hover .fa-regular.fa-heart {
        opacity: 0;
    }
}